# Ignore output and intermediate files
x64/Debug/
Math Game.exe
Math Game.ilk
Math Game.obj
Math Game.exe.recipe

# Ignore temporary build files
*.tlog
Math Game.lastbuildstate
vc143.idb

# Ignore Visual Studio user-specific files
*.user
*.suo

# Ignore all PDB files at any level
**/*.pdb

.vs/